language: ruby

jdk: oraclejdk8

before_install:
  - rvm list known
  - rvm list
  - ruby -v
  - |
    # Currently, Travis can't treat jruby 9.0.4.0
    if [[ ${TRAVIS_RUBY_VERSION} != "jruby-9.0.4.0" ]];then
      rvm get head
      rvm use jruby-9.0.4.0 --install
      ruby -v
    fi
  - gem install bundler -v 1.10.6

script: bundle exec rake cov

rvm:
  - jruby-9.0.4.0
env:
  # Set on Travis
  # CODECLIMATE_REPO_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

gemfile:
<% versions.each do |file| -%>
  - gemfiles/<%= file %>
<% end -%>

matrix:
  exclude:
    - jdk: oraclejdk8 # Ignore all matrix at first, use `include` to allow build
  include:
    <% matrix.each do |m| -%>
<%= m.gsub("9.0.0.0", "9.0.4.0") %>
    <% end %>

  allow_failures:
    # Ignore failure for *-latest
    <% versions.find_all{|file| file.to_s.match(/-latest/)}.each do |file| -%>
- gemfile: gemfiles/<%= file %>
    <% end %>
